{{!-- auth/confirmar-cuenta.hbs --}}
<div class="container">
    <div class="card">
        <h2 class="text-center">Confirma tu Cuenta</h2>
        <p>Gracias por registrarte. Por favor, confirma tu cuenta haciendo clic en el enlace que enviamos a tu correo
            electrónico.</p>
        <a href="/admin/login" class="btn">Volver al Inicio</a>
    </div>
</div>