<div class="card">
    <h2 class="text-center">Restablecer la Contraseña</h2>
    <form action="/admin/reset-password/{{token}}" method="POST" class="mt-2">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div>
            <label for="password">Nueva Contraseña</label>
            <input type="password" name="password" placeholder="Ingresa nueva contraseña.">
        </div>
        <button type="submit" class="btn mt-2">Restablecer</button>

    </form>
</div>