<header>
{{#if isAuth}}
<nav class="navbar navbar-expand-lg navbar-css">
    <div class="container-fluid">
      <a class="navbar-brand link-css" href="/">Rutas V Región</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link-css" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-css" href="caminatas">Rutas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-css" href="guias">Guías</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-css" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administrador
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="mi-perfil">Mi Perfil</a></li>
              <li><a class="dropdown-item" href="admin/login">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


{{else}}
  <nav class="navbar navbar-expand-lg navbar-css">
    <div class="container-fluid">
      <a class="navbar-brand link-css" href="/">Rutas V Región</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link-css" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-css" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-css" href="#">Rutas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-css" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administrador
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="admin/login">Ingresar</a></li>
              <li><a class="dropdown-item" href="admin/registro">Registro</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{/if}}
</header>